<%- include('includes/header') %>
<body>
    <div class="card" style="width: 18rem;">
        <img src="https://avatars.githubusercontent.com/u/68281739?v=4" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

</body>
<%- include('includes/footer') %>
